/* src/styles/components/Footer.css */

/* shared footer styles */
.credit-footer,
.light-footer,
.dark-footer {
    padding: 0 10rem;
}

/* home page footer */
.credit-footer {
    height: 4.3rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: var(--color-surface-base);
}

.credit-footer-text {
    font-size: 0.75rem;
    color: var(--color-text-muted-dark);
}

.credit-footer-text a {
    text-decoration: none;
    color: var(--color-text-muted-dark);
}

.credit-footer-text a:hover {
    text-decoration: underline;
}

/* detail page footer - light */
/* TBA */

/* detail page footer - dark */
/* TBA */

/* project detail page footer - dark */
/* TBA */